* {
  box-sizing: border-box;
}

body {
  font-family: "Kurale", serif;
  font-size: 18px;
  line-height: 18px;
  padding: 20px;
  text-align: center;
  animation: backgroundChange 5s infinite;
  margin: 0 auto;
}

.header-box {
  border: 1px solid #000;
  margin-bottom: 80px;
  border-radius: 10px;
}

h1 {
  font-family: "Homemade Apple", cursive;
  font-size: 2em;
  line-height: 1.5em;
  padding: 10px;
}

@keyframes backgroundChange {
  0% {
    background-color: #f8ecec;
  }
  50% {
    background-color: #f1dada;
  }
  75% {
    background-color: #eac8c8;
  }
  85% {
    background-color: #f1dada;
  }
  100% {
    background-color: #f8ecec;
  }
}

ul.harrypotter-list {
  padding-right: 40px;
}

.harrypotter-list li {
  list-style: none;
}

.char-button {
  background-color: #fad9c7c5;
  width: 30vh;
  border: 2px solid #fcd1aa;
  display: inline-block;
  margin: 10px auto;
  border-radius: 10px;
  padding: 10px;
}

.char-button:hover {
  opacity: 0.5;
  transition: 1s;
  cursor: pointer;
}

.showMessage {
  display: block;
  animation: zoom 4s infinite ease-in-out;
}
.hideMessage {
  display: none;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(211, 211, 211, 0.856);
  z-index: 999;
  overflow: auto;
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  background-color: #fff;
  padding: 10px;
  width: 100%;
  text-align: center;
  max-width: 80vh;
}

.modal-close {
  float: right;
  font-size: 13px;
  border: 0;
  background: none;
}

@media screen and (max-width: 760px) {
  .header-box {
    width: 80%;
    margin: 0 auto;
  }
  .char-button {
    width: 70%;
  }
}
